# 忽略构建输出目录
cloud_portal_service/build/
cloud_portal_service/dist/

# 忽略 Nuitka 编译缓存
cloud_portal_service/.nuitka-cache/
cloud_portal_service\__pycache__

# 忽略 Python 虚拟环境
.venv/

# 忽略可执行文件/安装包
*.exe
*.pkg
*.dll
*.dmg

# 忽略日志、临时文件
*.log
.DS_Store
node_modules/